name: Build and push devcontainer-base

on:
  push:
    branches: [ main ]
    tags: ['v*.*.*']

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: devcontainer-base

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
            # enable plain output, which dumps everything like a normal shell script
            BUILDKIT_PROGRESS: plain
            NO_COLOR: 1 # makes logs less noisy
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

